/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

 

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.logo img {
    
    width: 62px;
    height: 20px;
 }

 nav ul {
  display: flex;
}
 nav ul {
  padding: 10PX 33px;
 }
 nav li {
  
  padding: 10px 33px;
  margin-top: -35px;
  list-style-type: none;
 }
 nav li:hover {
  border-top: solid 2px #0065FC;
  cursor: pointer;    
  padding: 10px 33px; 
  margin-top: -35px;
}

.menu a {
  text-decoration: none;
  font-weight: 900;
  color:black;
}
nav li:hover a {
  color: #0065FC; 
}
.search-container{
    margin-bottom: 30px;
}

form {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    min-width: 50px;
    background-color: #ececec;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
input {
    padding: 4px;
    height: 50px;
    border: solid #ececec 1px;
   /* margin-right: 10px;*/
    border-right: none;
  }
input[type="search"]:focus {
    outline: none;
  }
  
  input::placeholder {
    color: #000;
  }
button {
    align-items: center;
    display: flex;
    border: none;
    padding: 17px;
    height: 50px;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    cursor: pointer;
  }
button::before {
    content: " ";
  }

.search-button .button-text {
    display: block; /* Texte du bouton par défaut */
  }

.search-button .button-icon {
    display: none; /* Icône cachée par défaut */
  }

  .filters-container{
    display: flex;
    align-items: center;
    width: 63%;
    box-sizing: border-box
    
   }
   
   .filters-title{
     font-size: 18px;
     font-weight: 900;
     margin-right: 15px;
   }
   .filter-items{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     box-sizing: border-box;
   }
   .filter{
     width: fit-content;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 2px;
     box-sizing: border-box;
     height: 40px;
     border: 2px solid #d9d9d9;
     border-radius: 25px;
     transition: ease-in-out 0.1s;
     flex-wrap: wrap;
   }
   .filter-title{
     display: flex;
     margin-right: 20px;
     margin-left: 20px;
   }
   .filter:hover {
      background-color: #deebff;
      cursor: pointer;
      transition: ease-in-out 1s;
     }
   .iconfilter {
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-radius: 75%;
       margin-left: 10px;
       color: #0065fc
     }
   
   .info {
       display: flex;
       align-items: center;
       margin: 16px 0 32px 0;
     }
   
   .iconinfo {
       height: 25px;
       width: 25px;
       min-height: 25px;
       min-width: 25px;
       border: solid 1px #d9d9d9;
       border-radius: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-right: 1rem;
       color: #0065FC;
     }
   
   .info-text {
       margin: 0;
     }
     

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}

.carte{
    
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte img {
    object-fit: cover;
}

.carte-title {
    font-size: 16px;
}
.hebergements-cartes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .hebergements-cartes .carte {
    
    margin-top: 20px;
}

.hebergements-cartes img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cartes .carte-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.carte-content{
  display: flex;
}
.hebergements-cartes .carte-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cartes .carte-subtitle {
     margin: 0;
     display: flex;
}

.hebergements-cartes .carte-rating {
    margin-bottom: 5px;
}
.truncate{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


 .showmore {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 16px;
    margin-top: 60px;
    font-weight: bold;
    
  }
  

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.card {
    
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img{
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/*******************ActivitésMarseille******************************/

.container-activites {
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;
  
  }

  .activites-photos{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  
  .section-title {
    margin: 0 0 20px;
    font-size: 22px;
    text-align: start;
    margin-bottom: 50px;
  }
  
  .photo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 40px;
    
  }
  
  .photo {
    width: 23%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 4px;
    box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.1);
    
    
  }
  
  .photo img {
    width: 100%;
    height: 325px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
  }
  
  .photo-txt {
    text-align: center;
  }
  
  .photo-title {
    margin-left: 20px;
    text-align: start;
  }




/************************************* Footer *********************/

.container-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding-left: 20px;
    margin-right: 40px;
    
}

.elements-footer {
    justify-content: space-between;
    padding: 10px;
    width: 88%;
    
}

.section-title {
    font-size: 22px;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
.link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px)  {
  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.logo img {
    
 width: 62px;
 height: 20px;
}

 nav ul {
 display: flex;
}
 nav ul {
  padding: 10PX 33px;
 }
 nav li {
  border-top: solid 2px #0065FC;
  padding: 10px 33px;
  cursor: pointer;
  margin-top: -34px;
  list-style-type: none;
 }
 nav li:hover {
  border-top: solid 2px #0065FC;
  cursor: pointer;    
  padding: 10px 33px; 
  margin-top: -34px;
}

.menu a {
  text-decoration: none;
  font-weight: 900;
  color:black;
}


  .filters-container{
    display: flex;
    align-items: center;
    width: 63%;
    box-sizing: border-box
    
   }
   
   .filters-title{
     font-size: 18px;
     font-weight: 900;
     margin-right: 15px;
   }
   .filter-items{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     box-sizing: border-box;
   }
   .filter{
     width: fit-content;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 2px;
     box-sizing: border-box;
     height: 40px;
     border: 2px solid #d9d9d9;
     border-radius: 25px;
     transition: ease-in-out 0.1s;
     flex-wrap: wrap;
   }
   .filter-title{
     display: flex;
     margin-right: 20px;
     margin-left: 20px;
   }
   .filter:hover {
      background-color: #deebff;
      cursor: pointer;
      transition: ease-in-out 1s;
     }
   .iconfilter {
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-radius: 75%;
       margin-left: 10px;
       color: #0065fc
     }
   
   .info {
       display: flex;
       align-items: center;
       margin: 16px 0 32px 0;
     }
   
   .iconinfo {
       height: 25px;
       width: 25px;
       min-height: 25px;
       min-width: 25px;
       border: solid 1px #d9d9d9;
       border-radius: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-right: 1rem;
       color: #0065FC;
     }
   
   .info-text {
       margin: 0;
     }
    

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        order: 1;
        
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        order: 2;
    }

    
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .container-activites {
      width: 100%;
      justify-content: space-between;
      margin-top: 80px;
      
    }
  
    
    .section-title {
      margin: 0 0 20px;
      font-size: 22px;
      text-align: start;
      margin-bottom: 50px;
    }
    
    .photo-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      margin-top: 40px;
      
    }
    .activites-photos{
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      gap: 40px;
    }
    .photo {
      
      width: 23%;
      margin-bottom: 20px;
      background-color: white;
      border-radius: 20px;
      padding-bottom: 4px;
      box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.1);
      
      
    }
    
    .photo img {
      width: 100%;
      height: 325px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
     
      
    }
    
    .photo-txt {
      text-align: center;
    }
    
    .photo-title {
      margin-left: 20px;
      text-align: start;
    }
  
  
  
  
    .container-footer{
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: var(--main-bg-color);
      padding-left: 20px;
      margin-right: 40px;
      
  }
 
  .elements-footer {
      justify-content: space-between;
      padding: 10px;
      width: 88%;
      
  }
  
  .section-title {
      font-size: 22px;
      text-align: start;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
  .link {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
  }
  
  }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
   
   }

.logo img{
  margin-bottom: 20px;
  }
nav li{
  border-top: 20px;
  border-bottom: solid 2px #0065FC; 
   }
nav li:hover {
  border-top: 20px;
  border-bottom: solid 2px #0065FC; 
    
   }

.search-button .button-text {
  display: none; /* Cacher le texte du bouton */
  justify-content: center;
    }
     
.search-button .button-icon {
  display: block; /* Afficher l'icône */
  align-items: center;
  justify-content: center;
  width: 100%;
    }
       
.filters-container{
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  display: flex;
  margin-top: 32px;
      
    }
      
.filters-title{
  width: 100%;
    }
      
.filter-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  gap: 20px;
    }

.info{
    display: flex;
    align-items: center;
  }

.populaires {
  width: 100%;
  margin-top: 50px;
  order: 1;
  margin-bottom: 20px;
}

.populaires-cards {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 350%;
  margin-left: 0;
   }

.populaires-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.populaires-cards a {
  width: 100%;
}


.hebergements {
    width: 100%;
    order: 2;
    gap: 20px;
    
}

.hebergements-cartes {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.hebergements-cartes a {
  width: 100%;
  gap: 20px;
}

.section-title{
  width: 100%;
}
.container-activites{
  width: 100%;
  
  
}

.activites-photos{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.photo-container h3{
  width: 100%;
}

.photo img{
  display: flex;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.photo{
  width: 100%;
}

.container-footer{
  width: 100%;
  display: flex;
  background-color: var(--main-bg-color); 
}

.elements-footer{
  width: 100%;
  flex-direction: column;
}
   
}