/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.partie-title {
  margin: 0;
  font-size: 22px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.search-container{
    margin-bottom: 30px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.heading .logo {
  width: 60px;
}

.heading .menu {
 display: flex;
}

.menu .item-menu {
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
}

.heading a{
  text-decoration: none;
  padding: 20px;
  color: black;
  display: inline-block;
}
.heading a:hover {
  border-top: 2px solid transparent;
  border-top: 2px solid #0065fc;
  color: #0065FC;
  padding-top: 18px;
}

.menu .trait-gris {
  color: gray;
}

form {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    min-width: 50px;
    background-color: #ececec;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
input {
    padding: 4px;
    height: 50px;
    border: solid #ececec 1px;
    border-right: none;
  }
input[type="search"]:focus {
    outline: none;
  }
  
  input::placeholder {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
  }
button {
    align-items: center;
    display: flex;
    border: none;
    padding: 17px;
    height: 50px;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    cursor: pointer;
  }
button::before {
    content: " ";
  }

.search-button .button-text {
    display: block; /* Texte du bouton par défaut */
  }

.search-button .button-icon {
  display: none; /* Icône cachée par défaut */
}

.filters-container {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}
.filters-container h2 {
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5%;
}
.filters{
  display: flex;
  justify-content: space-between;
}
.filter {
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 0;
  height: 45px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  transition: ease-in-out 0.1s;
}
.filter:hover {
  background-color: #deebff;
  cursor: pointer;
  transition: ease-in-out 1s;
}
.filter p {
  padding-left: 15px;
  padding-right: 20px;
  font-weight: 900;
}
.iconsfilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 75%;
  margin-left: 20px;
  color: #0065fc;
}
.info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}
.iconinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.025px;
  height: 0.025px;
  border-radius: 50%;
  border: solid 1px #d9d9d9;
  font-size: 15px;
  padding: 15px;
  margin-right: 10px;
  color: #0065fc;
}
       

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;   
}

.hebergements a{
  box-sizing: border-box;
  width: 31.3%;
  
}
.hebergements-cartes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
  }
.carte  {
  margin-right: 5px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  flex-grow: 1;
  
}

.carte-title {
  font-size: 16px;
  margin: 0;
  
}

.hebergements-cartes .carte {
  margin-top: 33px;
  
}

.hebergements-cartes img  {
  width: 100%;
  height: 100px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}

.hebergements-cartes .carte-content {
  min-width:  67%;
  max-width:  100%;
  height: 80px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cartes .carte-title {
  margin-top: 4px;
  margin-bottom: 10px;
  flex-grow: 1;
  overflow: hidden; /* Cache tout texte débordant */
  text-overflow: ellipsis; /* Ajoute des points de suspension à la fin du texte s'il dépasse */
}

.carte-title {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hebergements-cartes .carte-subtitle {
  margin: 0;

}

.carte-subtitle {
  margin: 0;
  
}

.hebergements-cartes .carte-rating {
  margin-top: -20px;
 
}



.showmore {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 16px;
  margin-top: 30px;
  font-weight: bold;    
}
  

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img{
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/*******************ActivitésMarseille******************************/
.activites-à-marseille{
  width: 100%;
} 
.activites-à-marseille a{
  
  box-sizing: border-box;
  width: 35%;
}
.activites-photos {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.activites h2{
  margin-top: 60px;
}

.activites-photos .photo-content{
  min-width: 120px;
  max-width: 240px;
  height: 80px;
  margin-top: -15px;
}

.photo {
  margin-right: 20px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-bottom: 33px;
  
}

.photo-title {
  font-size: 16px;
  margin-top: 15px;
  
  
}

.activites-photos .photo {
  margin-top: 33px;
  
}
.activites-photos img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -3px;
}

.activites-photos .photo-title {
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}


/************************************* Footer *********************/

.container-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding-left: 0px;
    margin-right: 40px;
}

.elements-footer {
    justify-content: space-between;
    padding: 10px;
    width: 88%;
    
}

.footer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-left:  18px;
    margin-bottom: -15px;
    font-size: 18px;

  }
.link {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 16px;
  
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {



.filters-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0.4%;
}
.filters-container h2 {
  width: 100%;
  align-items: center;
  
}
.filter{
  margin-right: 0.4%;

}

.hebergements-and-populaires {
  flex-direction: column;
}

.hebergements {
  width: 100%;
  order: 1;
  border-bottom: 32px;    
}

.populaires {
  width: 100%;
  margin-top: 45px;
  order: 2;
  margin-bottom: -32px;
}

    
.populaires-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.populaires-cards a {
  width: 30%;
}

.populaires-cards .card-title {
  font-size: 14px;
}

.populaires-cards .card-subtitle {
  font-size: 13px;
}


.activites-photos img {
  width: 100%;
  height: 194px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-photos a{
  
  box-sizing: border-box;
  width: 24%;
}

.photo-content a{
  padding-top: 0px;
}

.elements-footer {
  justify-content: space-between;
  padding: 10px;
  width: 88%;
  padding-left: 0px;
      
}
.footer-title h3{
  font-size: 20px;
  margin-bottom: 5px;
}


.link {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
     
}
  
  }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    box-sizing: border-box;
    min-width: 320px;
}
  .section-title  h1{
    margin: 0;
    font-size: 22px;
    width: 100%;
    
}
.heading  {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.heading .menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 16px;
  
}
.heading a:hover {
  border-top: none;
}

.heading .menu .item-menu {
  text-align: center;
  width: 50%;
  border-bottom: #f2f2f2 3px solid;
}

.heading .item-menu:hover {
  border-top: none;
  border-bottom: #0065fc 3px solid;
  color: #0065fc;
}
.search-container{
  display: flex;
  justify-content: center;
}
button {
  border-radius: 15px 15px 15px 15px;
}

input {
  padding: 2px;

}

.container h1  {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 80px;
}

h1{
  width: 50%;
  font-size: 18px; 
  line-height: 1.2; 
  }
.container p{
  font-size: 15px;
}

.search-button .button-text {
  display: none; /* Cacher le texte du bouton */
  justify-content: center;
    }
     
.search-button .button-icon {
  display: block; /* Afficher l'icône */
  align-items: center;
  justify-content: center;
  width: 100%;
}
.filters-container {
  flex-wrap: wrap;
 font-size: 12px;
}
.filters-container h2 {
  width: 100%;
  
}
.filters-container .filter {
  width: 35%;
  margin-bottom: 4px;
  margin-right: 2%;
  
}
.filter {
  display: flex;
  align-items: center;
  height: 40px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  transition: ease-in-out 0.1s;
  margin-right: 2%;
  margin-bottom: 0;
  padding-right: 22px;
}

.filter p {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 8px;
  font-weight: 900;
}
.info  p{
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
}
.iconsfilter {
  margin-left: 3px;
}

.populaires {
  width: 100%;
  margin-top: 50px;
  order: 1;
  margin-bottom: 20px;
  
}
.hebergements-and-populaires .populaires {
  background-color: var(--main-bg-color);
  border-radius: 0px;
  padding: 30px;
  box-sizing: border-box;
}

.populaires-cards {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 350%;
  margin-left: 0;
   }

.populaires-title h2{
  font-size: 16px;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.populaires-cards a {
  width: 100%;
}

.hebergements-and-populaires .hebergements {
  background-color: white;
  padding: 30px;
}
.hebergements {
    width: 100%;
    order: 2;   
}
.hebergements-title h2{
  font-size: 16px;
}
.hebergements-cartes {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; 
}

.hebergements-cartes a {
  width: 100%;
  margin-bottom: -10px;
}

.showmore {
  width: 100%;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 700;  
  white-space: nowrap;
  margin-bottom: 0px;
}

.activites-title {
  width: 100%;
  font-size: 22px;
  margin-left: 20px;
  
}
.activites-à-marseille{
  width: 100%;
}
.activites-photos a{
  box-sizing: border-box;
  width: 100%;
  margin-bottom: -20px;
  margin-top: -20px;
}

.activites-photos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 10px;
  
}

.activites-photos img {
  width: 100%;
  height: 138.5px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.container-footer{
  width: 100%;
  background-color: var(--main-bg-color); 
  flex-direction: column;
  margin-top: 80px;
}

.footer-title  h3{
  font-size: 20px;
  margin-bottom: 10px;
}

.link{
  font-size: 16px;
}
   
}