/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img{
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}
 .carte{
    
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    justify-content: space-between;
 }

 .carte img{
    object-fit: cover;
 }

 .carte-title{
    font-size: 16px;
 }


.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  10px;
    background-color: #fff;
    
}

 .logo {
    height: 10%;
 }
 nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
   
 }
nav ul li {
    position: relative;
 }

nav ul li a {

    text-decoration: none;
    color: black;
    font-weight: normal;
    padding: 10px;
    transition: color 0.3S ease;
}

nav ul li a:hover,
nav ul li a:focus {
    color: var(--blue); /* Change la couleur du texte au survol */
}
nav ul li a::before {
    content: '';
    position: absolute;
    top: -39px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav ul li a:hover::before,
nav ul li a:focus::before {
    background-color: #007BFF; /* Affiche la ligne bleue au survol */
}

.search-container{
    margin-bottom: 30px;
}

form {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  .map {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    min-width: 50px;
    background-color: #ececec;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
input {
    padding: 4px;
    height: 50px;
    border: solid #ececec 1px;
    margin-right: 10px;
    border-right: none;
  }
input[type="search"]:focus {
    outline: none;
  }
  
  input::placeholder {
    color: #000;
  }
button {
    align-items: center;
    display: flex;
    border: none;
    padding: 17px;
    height: 50px;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    cursor: pointer;
  }
button::before {
    content: " ";
  }
.search-button .button-text {
    display: block; /* Texte du bouton par défaut */
  }

  .search-button .button-icon {
    display: none; /* Icône cachée par défaut */
  }

.filters-container {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    
  }
.filters-container h2 {
    margin-right: 32px;
    align-items: center;
    justify-content: center;
  }
.filter {
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 0;
    height: 45px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    transition: ease-in-out 0.1s;
  }
.filter:hover {
    background-color: #deebff;
    cursor: pointer;
    transition: ease-in-out 1s;
  }
.filter p {
    padding-left: 15px;
    padding-right: 20px;
    font-weight: 900;
  }
.iconsfilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 75%;
    margin-left: 20px;
    color: #0065fc
  }
.info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
  }
.iconinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.1px;
    width: 0.1px;
    border-radius: 50%;
    border: solid 1px #d9d9d9;
    font-size: 15px;
    padding: 15px;
    margin-right: 10px;
    color: #0065fc;
    
  }


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cartes .carte {
    /*margin-top: 33px;*/
}

.hebergements-cartes img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cartes .carte-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cartes{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
    grid-template-rows: repeat(2, 1fr); /* Les rangées s'ajustent automatiquement */
    gap: 33px; /* Marges autour des cartes */
   
    
    
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/*******************ActivitésMarseille******************************/

.container-activites {
    width: 100%;
    justify-content: space-between;
    margin-top: 60px;
    
  }
  
  .section-title {
    margin: 0 0 20px;
    font-size: 22px;
    text-align: start;
    margin-bottom: 30px;
  }
  
  .photo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
    
    
  }
  
  .photo {
    
    width: 23%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 4px;
    box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.1);
    
    
  }
  
  .photo img {
    width: 100%;
    height: 325px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
    
  }
  
  .photo-txt {
    text-align: center;
  }
  
  .photo-title {
    margin-left: 20px;
    text-align: start;
  }




/************************************* Footer *********************/

.container-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    
    
}

.elements-footer {
    justify-content: space-between;
    padding: 20px;
    width: 88%;
    
}

.section-title {
    font-size: 22px;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
.link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        order: 1;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        order: 2;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    header {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 10px 20px;
       background-color: #fff;
   
   }

   nav ul li a::before {
       content: '';
       position: absolute;
       top: 29px;
       left: 0;
       width: 100%;
       height: 3px;
       background-color: transparent;
       transition: background-color 0.3s ease;
       margin: auto;
   }

   .filters-container {
       display: flex;
       align-items: baseline;
       flex-wrap: wrap;
       margin-bottom: 40px;
     }
     .search-button .button-text {
       display: none; /* Cacher le texte du bouton */
     }
     
     .search-button .button-icon {
       display: block; /* Afficher l'icône */
       align-items: center;
     }

   .populaires-cards {  
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: flex-start;
       flex-direction: column;
       width: 350%;
       margin-left: 0;
   }
  

.hebergements {
    width: 100%;
}

.populaires {
    width: 100%;
    margin-top: 50px;
}

.populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires-cards a {
    width: 30%;
}

.populaires-cards .card-title {
    font-size: 14px;
}

.populaires-cards .card-subtitle {
    font-size: 13px;
}
   
}